@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

body {
  margin: 0;
  line-height: normal;
}


:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-rubik: Rubik;
  --font-inter: Inter;
  --font-poppins: Poppins;
  --font-inherit: inherit;

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-mid: 17px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-5xl: 24px;
  --font-size-xl: 20px;
  --font-size-lg: 18px;
  --font-size-3xs: 10px;

  /* Colors */
  --white: #fff;
  --color-gray-100: #fafafa;
  --color-gray-200: #090e18;
  --color-gray-300: rgba(29, 30, 52, 0.8);
  --color-gray-400: rgba(0, 0, 0, 0.8);
  --color-dodgerblue: #3e8dff;
  --color-whitesmoke-100: #f1f4f5;
  --light-gray: #e9ebf0;
  --color-darkslateblue-100: #5040a1;
  --color-darkslateblue-200: #242565;
  --color-lightsteelblue: #abbcce;
  --color-slategray-100: #70708c;
  --grayish-blue: #67727e;
  --dark-blue: #334253;
  --color-black: #000;
  --color-lightslategray: #9591a9;

  /* Gaps */
  --gap-9xs: 4px;
  --gap-base: 16px;
  --gap-3xs: 10px;
  --gap-smi: 13px;
  --gap-5xs: 8px;
  --gap-7xs: 6px;
  --gap-21xl: 40px;

  /* Paddings */
  --padding-81xl: 100px;
  --padding-xl: 20px;
  --padding-45xl: 64px;
  --padding-base: 16px;
  --padding-base-2: 15.2px;
  --padding-11xl-4: 30.4px;
  --padding-5xl: 24px;

  /* border radiuses */
  --br-10xs: 3px;
  --br-base: 16px;
  --br-3xs: 10px;
  --br-31xl: 50px;
  --br-5xs: 8px;
  --br-xl: 20px;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(to bottom right,
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0.3));

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(#ffffff80,
        #ffffff40,
        #ffffff30,
        #ffffff20,
        #ffffff10,
        #ffffff10,
        #ffffff80);

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}